
<html xmlns:th="http://www.thymeleaf.org">
  <div th:insert="~{@{reusable-code/header}}"></div>
<style>
 th,td{
  text-align: left;
 }
</style>
<body class="bg-light text-center">
  <div class='bg-image'>
   <div class="container py-1">
   		<div>
           <label class='fs-3 text-white text-decoration-underline'>Deposit Money Success</label>
        </div>
        <div class="card mx-auto shadow" style="max-width:50%;">
            <div class="card-body">
            	<div class="table">
            		<table class="table table-bordered">
            		  <tr>
            		    <th>Transaction Id</th>
            		    <td th:text="${transaction.tid}"></td>
            		  </tr>	
            		  <tr>
            		    <th>From Account</th>
            		    <td th:text="${session.userAccountNo}"></td>
            		  </tr>
            		  <tr>
            		    <th>To Account</th>
            		    <td>Self</td>
            		  </tr>
            		  <tr>
            		    <th>Account holder</th>
            		    <td th:text="${session.username}"></td>
            		  </tr>
            		  <tr>
            		    <th>Amount</th>
            		    <td class="text-success" th:text="${'&#8377;'+transaction.amount}"></td>
            		  </tr>
            		  <tr>
            		    <th>Date and Time</th>
            		    <td><span th:text="${transaction.date}"></span><span style='margin-left:4px' th:text="${transaction.time}"></span></td>
            		  </tr>
            		  <tr>
            		    <th>Transaction Type</th>
            		    <td class="text-success" th:text="${transaction.type}"></td>
            		  </tr>
            		</table>	
            	</div>
            </div>
        </div>
    </div>
    <div>
     <a href="/online-banking" class='btn btn-primary'>Back Home</a>
     <a href="/online-banking" class='btn btn-secondary'>Download Receipt</a>
    </div>
   </div> 
   <div th:insert="~{reusable-code/footer}"></div>
</body>
</html>
