
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bank Home Page</title>
	<link th:href="@{/CSS/bootstrap.min.css}" rel="stylesheet">
	<link th:href="@{/CSS/bank.css?v=2.0}" rel="stylesheet">
	<script type="text/javascript" th:src="@{/JS/bootstrap.bundle.min.js?v=2.0}"></script>
</head>
<div class="header">
	<div class="row">
		<div class='col-3'>
			<span class='fs-5 text-info'>Savings Account</span><br> <span
				class='fs-6' th:text="${session.accountno}"></span>
		</div>
		<div class='col-3'>
			<p class='fs-3'>JantaBank</p>
		</div>
		<div class='col-3'>
			<span class='fs-5 text-info'>Your Name</span><br> <span
				class='fs-6' th:text="${session.username}"></span>
		</div>
		<div class='col-3'>
			<a href="logout.do" class='fs-5 text-info'>Logout</a>
		</div>
	</div>
</div>