
<html xmlns:th="http://www.thymeleaf.org">
  <div th:insert="~{@{login/user-header}}"></div>
  <body class="bg-light text-center" onload="stopRefresh()">
	<div class="bg-image">
		<div class="container py-5">
			<div class="card mx-auto shadow" style="max-width: 50%;">
				<div class="card-body">
					<p class="fs-2 card-text display-6 text-success" th:text="${username}"></p>
					<p class="fs-2 card-title">You have been registered successfully</p>
					<p class="card-text display-6 text-success">Your account number is <span id="accountno"
							th:text="${accountno}"></span></p>
					<a class='btn btn-primary' href="login">Click here to login</a>
				</div>
			</div>
		</div>
	</div>
  </body>
  <div th:insert="~{@{reusable-code/footer}}"></div>
</html>