
<html xmlns:th="http://www.thymeleaf.org">
  <div th:insert="~{@{user/user-header}}"></div>
	<head>
		<script>
		document.addEventListener("keydown", function (event) {
    		if (event.key === "F5" || (event.ctrlKey && event.key === "r")) {
        		event.preventDefault();
    		}
		   });
        </script>
</head>
<body class="bg-light text-center" onload="stopRefresh()">
   <div class="bg-image">
	<div class="container py-5">
		<div class="card mx-auto shadow" style="max-width: 50%;">
			<div class="card-body">
				<p class="fs-2 card-text display-6 text-danger" th:text="${username}"></p>
				<p class="fs-2 card-title">Registration Failed</p>
				<p class="card-text display-6 text-success">Someone is already using this id</span></p>
				<a class='btn btn-primary' href="#" onclick="history.back()">Click here to register again</a>
			</div>
		</div>
	</div>
    </div> 	
	<div th:insert="~{@{reusable-code/footer}}"></div>
</body>
</html>
