
<html xmlns:th="http://www.thymeleaf.org">
 <body class="bg-light text-center">
 <div th:insert="~{@{login/user-header}}"></div>
   <div class="bg-image">
	<div class="container py-5">
		<div class="card mx-auto shadow" style="max-width: 50%;">
			<div class="card-body">
				<p class="fs-2 card-text display-6 text-success" th:text="${username}"></p>
				<p class="fs-2 card-title text-danger">You have been logged out successfully</p>
				<a class='btn btn-primary' href="/JantaBank">Click here to login</a>
			</div>
		</div>
	</div>
    </div> 	
	<div th:insert="~{@{reusable-code/footer}}"></div>
</body>
  </body>
</html>