
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bank Home Page</title>
	<link th:href="@{/CSS/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/CSS/bank.css?v=2.0}" rel="stylesheet">
    <script type="text/javascript" th:src="@{/JS/bank.js?v=2.0}"></script>
</head>
<div class="header">
	<div class="row">
		<div class='col-6'>
			<p class='fs-3'>Welcome to Janta Bank</p>
		</div>
		<div class="col-6">
        	<h2>Your Trusted Financial Partner</h2>
    	</div>
	</div>
</div>